body
{
    margin: 0px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.wrapper
{
    margin: 0 auto !important;
    padding: 0;
    max-width: 960px;
}

a
{
    text-decoration: none;
}

ul
{
    list-style-type: none;
}
/*---- Header ---- */
.header
{
    background-color: rgba(134,134,134,0.25);
    font-size: 200%;
    padding: 10px;
    width: auto;
}
.header ul
{
    margin: 0px;
    padding: 1px 1px 1px 4px;
    overflow: hidden;
}
.header li
{
    float: right;
    padding-right: 3%;
}
.header a
{
    display: block;
    color: #343434;
    transition: text-shadow 0.2s ease-in-out;
}
.header a:hover
{
    text-shadow: 1px 1px #343434;
}
li.logo
{
    float: left;
}
/*---- Content ---- */
.content
{
    margin-top: 3%;
    margin-bottom: 0;
    background: rgba(134,134,134,0.25);
    overflow: auto;
    height: 1480px;
}

.head-container
{
    background: rgba(134,134,134,0.25);
    height: 1280px;
    width: 560px;
    margin: 100px auto;
    -moz-box-shadow: -3px -3px 60px -18px rgb(120, 120, 120);
    -webkit-box-shadow: -3px -3px 60px -18px rgb(120, 120, 120);
    box-shadow: -3px -3px 60px -18px rgb(120, 120, 120);
    position: relative;
}

.register
{
    background-color: aliceblue;
    margin: 10px;
    width: 540px;
    height: 1260px;
    position: absolute;
    box-shadow: 3px 3px 18px rgb(120, 120, 120);
    display: flex;
    justify-content: center;
}

.must
{
    color: #ff9595;
}

input[type=text], input[type=password], input[type=date], input[type=email]
{
    width: 300px;
    height: 20px;
    background-color: rgb(253, 255, 253);
    color: rgb(147, 147, 147);
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
}

select
{
    width: 300px;
    height: 20px;
    background-color: rgb(253, 255, 253);
    color: rgb(147, 147, 147);
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, select:focus
{
    -webkit-box-shadow: 3px 2px 10px 4px rgba(120, 120, 120, 0.25);
    -moz-box-shadow: 3px 2px 10px 4px rgba(120, 120, 120, 0.25);
    box-shadow: 3px 2px 10px 4px rgba(120, 120, 120, 0.25);
    border-color: #c1c1c1;
    color: rgb(45, 9, 9);
}

input[name="login-button"]
{
    width: 300px;
    background-color: rgb(214, 71, 20);
    font-size: 20px;
    color: whitesmoke;
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

input[name="login-button"]:hover
{
    background-color: rgb(240, 76, 20);
}

input[name="login-button"]:focus
{
    background-color: rgb(240, 76, 20);
    -webkit-box-shadow: 3px 2px 10px 4px rgba(120, 120, 120, 0.25);
    -moz-box-shadow: 3px 2px 10px 4px rgba(120, 120, 120, 0.25);
    box-shadow: 3px 2px 10px 4px rgba(120, 120, 120, 0.25);
}

input[name="register-button"]
{
    width: 300px;
    background-color: rgb(241, 244, 247);
    font-size: 20px;
    color: #4f4f4f;
    padding: 10px 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
    outline: none;
}

input[name="register-button"]:hover
{
    background-color: rgb(210, 213, 216);
}

input[name="register-button"]:focus
{
    -webkit-box-shadow: 3px 2px 10px 8px rgba(120, 120, 120, 0.25);
    -moz-box-shadow: 3px 2px 10px 8px rgba(120, 120, 120, 0.25);
    box-shadow: 3px 2px 10px 8px rgba(120, 120, 120, 0.25);
}

.register-line
{
    font-size: 11px;
    color: #000000;
    text-align: center;
    z-index: 2;
    border-bottom: 1px solid lightsteelblue;
}

.pass-warning
{
    width: 250px;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 12px;
    background-color: rgb(123, 4, 12);
    padding: 2px;
    border-radius: 5px;
    position: absolute;
    display: none;
    color: white;
    z-index: 10;
}

.pass-warning::before
{
    content: '';
    height: 1px;
    width: 10px;
    position: absolute;
    background-color: #595bff;
    display: none;
}

.pass-warning::after
{
    content: '';
    height: 18px;
    width: 18px;
    top: -8px;
    margin-left: -145px;
    transform: skew(0, 45deg);
    background-color: rgb(123, 4, 12);
    position: absolute;
    z-index: -1;
}

.pass-value
{
    font-size: 12px;
    display: none;
}

.pass-line
{
    content: '';
    position: absolute;
    height: 2px;
    width: 2px;
    top: 300px;
    left: 40%;
    background-color: #595bff;
    display: none;
}
/*---- Footer ---- */

.footer
{
    background: rgba(134,134,134,0.25);
    margin-bottom: 10px;
    margin-top: 10px;
    height: 80px;
    overflow: auto;
    clear: left;
}

.footer-content
{
    background-color: aliceblue;
    margin: 10px;
    width: auto;
    height: 60px;
}

/*---- Screen from 574x to 374px ----*/
@media only screen and (max-width: 574px) and (min-width: 374px)
{

    .main-container
    {
        width: auto;
    }

    .header
    {
        font-size: 25px;
    }

    .head-container
    {
        width: 90%;
        margin: 60px 5%;
        position: center;

    }

    .register
    {
        width: 95%;
    }
}

/*---- Screen from 374px to 0px ----*/
@media only screen and (max-width: 374px)
{

    .main-container
    {
        width: auto;
    }

    .header
    {
        font-size: 25px;
    }

    .head-container
    {
        width: 90%;
        position: center;
        margin: 60px 5%;
    }

    .register
    {
        width: 92%;
        text-align: center;
    }

    input[type=text], input[type=password], input[type=date], input[type=email], select
    {
        width: 85%;
        margin-left: 5%;
    }


    input[name="login-button"]
    {
        width: 90%;
        margin-left: 5%;
    }

    input[name="register-button"]
    {
        width: 90%;
        margin-left: 5%;
    }

    .pass-line
    {
        top: 310px;
        left: 12%;
    }
}